.card {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    margin-bottom: 3.5em;
    border-radius: 3px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
}
.profile {
    margin-bottom: 0;
}

.cardButton {
    height: 30px;
}
.cardImage {
    width: 100%;
    display: block;
}

.likedBy {
    display: flex;
    padding-left: 1em;
}
.span {
    font-size: 0.75em;
    margin-left: 0.5em;
    padding-top: 0.5em;
}

.comments {
    margin-bottom: 0.75em;
}

.timePosted {
    font-size: 0.6em;
    padding-left: 2em;
    padding-bottom: 1em;
    color: #8e8e8e;
    border-bottom: 1px solid #efefef;
}

.addComment {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    padding: 1.5em 1.25em;
}
.commentText {
    color: #8e8e8e;
}

.postText {
    color: #b3dffc;
}

@media only screen and (max-width: 640px) {
    .card {
        border: none;
        background-color: #fafafa;
        margin-bottom: 0.75em;
    }
    .addComment {
        display: none;
    }

    .timePosted {
        border: none;
    }
}