.CreateCampaign__Wrapper{
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    width: 80%;
    margin: 75px auto;
}

.CreateCampaign__Wrapper .title{
    font-size: 32px;
    font-weight: 500;
    position: relative;
    left: 10%;
    margin-bottom: 20px;
}

.CreateCampaign__Wrapper input{
    max-width: 50em;
}

.CreateCampaign__Wrapper .dropdown{
    max-width: 59em;
}

.CreateCampaign__Wrapper .createNewAd{
    display: flex;
    flex-direction: column;
}

.CreateCampaign__Wrapper .createNewAd .title{
    font-size: 22px;
}