.footer {
  color: #c7c7c7;
  font-size: 0.7em;
  margin-top: 2em;
}
  .links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
  }
.after {
        content: "\2022";
        margin: 0 0.25em 0 0.25em;
      }

.last-child:after {
  content: "";
}

  .copyRight {
  }

