body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-width: fit-content;
}

main {
    background-color: #ffffff;
    margin-top: 60px;
}
.container {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    max-width: 1000px;

}
a {
    text-decoration: none;
    color: #0095f6;
    font-size: 0.9em;
    font-weight: 500;
}
