.PerformanceMonitoring__Wrapper{
    margin: 75px 15em;
    display: flex;
    flex-direction: column;
}

.PerformanceMonitoring__Wrapper .title{
    font-size: 2em;
    font-weight: 500;
}

.PerformanceMonitoring__Wrapper .listing{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.listing .date{
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
}

.listing .date .title{
    font-size: 1.5em;
    text-decoration: underline;
    padding: 0;
}

.listing .date .items{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.listing .date .items .item{
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.75em;
    width: 100%;
}

.listing .date .items .item .time{
    font-size: 0.8em;
    color: gray;
}