@import url("./variables.css");

.post-header{
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin: 0em;
}

.post-header .textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    max-width: 300px;
}

.post-header .textContainer .username{
    font-weight: 500;
    margin-bottom: 0px;
}

.post-header .textContainer .username:hover{
    cursor: pointer;
    text-decoration: underline;
}

.post-header .textContainer .caption{
    color: var(--font-color-secondary);
    width: 100%;
}

.post-header .textContainer .caption .small{
    font-size: 0.9em;
}

.post-header .textContainer .caption .medium{
    font-size: 1.2em;
}

.post-header .textContainer .caption .large{
    font-size: 1.5em;
}