.Saved__Wrapper{
    display: flex;
    flex-direction: row;
    padding-top: 75px;
    border: 0;
    row-gap: 0;
}

.Saved__Wrapper .posts{
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 0;
    margin-left: 6em;
    margin-bottom: 3em;
    width: 70%;
}

.Saved__Wrapper .posts .title{
    font-size: 2em;
    font-weight: 500;
}

.Saved__Wrapper .posts .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 1em;
}

.Saved__Wrapper .posts .content .archivedStory:hover {
    cursor: pointer;
}

.Saved__Wrapper .collections {
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.collections .list{
    margin-top: 2.5em;
}

.collections .list .title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 10px;
}

.collections .list .collectionCard{
    width: 100%;
    padding: 5px;
    margin: 0;
    height: 50px;
    width: 13em;
    max-width: 15em;
}

.collections .list .newCollection{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    height: 2.5em;
}

.collections .list .newCollection .newCollectionLabel{
    width: 8em;
    margin-top: 0.5em;
}

.collections .list .newCollection .newCollectionInput{
    height: 35px;
    border: none;
    border-bottom: 1px solid var(--font-color-secondary);
    color: var(--font-color-primary);
    margin-right: 1.2em;
}

.collections .list .newCollection .newCollectionInput:active{
    border: none;
}