.stories {
    display: flex;
    align-content: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 2em 15em 1.5em 15em;
    height: 7.4em;
    overflow: hidden;
}

@media only screen and (max-width: 640px) {
    .stories {
        margin: 0 0 0.5em 0;
    }
}