@import url("./variables.css");

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0.5em;
}

.accountName{
    color: var(--font-color-primary) !important;
}

.story:first-child {
    margin-left: 1em;
}

.story:last-child {
    margin-right: 1em;
}

.accountName {
    font-size: 0.8em;
    margin: 0.4em;
}
